html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main{
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* React Calender */
.react-calendar__tile.react-calendar__month-view__days__day {
  background: transparent;
  border: 0;
  font-weight: 600;
  padding-block: 16px;
}

.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day>abbr {
  color: white;
}

.react-calendar__tile--now.react-calendar__month-view__days__day>abbr {
  text-decoration: underline;
}

.react-calendar__tile--active.react-calendar__month-view__days__day>abbr {
  color: var(--nextui-colors-text);
}

.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day::after {
  background: var(--nextui-colors-primary);
  content: ".......";
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: absolute;
  z-index: -1;
  color: transparent;
  margin-inline: -25px;
  margin-block: -5px;
  border-radius: 100%;
  padding: 5px;
  min-height: 35px;
  min-width: 35px;
  max-height: 35px;
  max-width: 35px;
}


.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth>abbr {
  /* color: grey; */
  visibility: hidden;
}

.react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth>abbr::after {
  display: none;
}

.react-calendar__month-view__weekdays__weekday {
  text-align: center;
}

.react-calendar__month-view__weekdays__weekday>abbr {
  font-size: 0;
  font-weight: 600;
  text-decoration: none;
  color: var(--nextui-colors-text);
  display: inline-block;
}

.react-calendar__month-view__weekdays__weekday>abbr::first-letter {
  font-size: 1rem;
}

.react-calendar__month-view__weekdays__weekday--weekend>abbr {
  color: var(--nextui-colors-error)
}

.react-calendar {
  width: 100%;
  /* margin-inline: -36px; */
}

.react-calendar__navigation {
  display: flex;
  /* display: none; */
  margin-inline: 16px;
  margin-bottom: 16px;
}

.react-calendar__navigation>button {
  background: transparent;
  border: 0;
  font-size: xx-large;
  color: var(--nextui-colors-text);
}

.react-calendar__navigation>button:nth-child(3) {
  font-size: large;
}

button.react-calendar__tile.react-calendar__year-view__months__month {
  background: transparent;
  border: 0;
  margin-block: 15px;
}

button.react-calendar__tile.react-calendar__decade-view__years__year {
  background: transparent;
  border: 0;
  margin-block: 15px;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
  display: none;
}

button.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
  display: none;
}

span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  text-rendering: optimizeLegibility;
  font-size: var(--nextui-fontSizes-base);
  line-height: var(--nextui-lineHeights-md);
  letter-spacing: var(--nextui-letterSpacings-tighter);
  font-size: var(--nextui-fontSizes-xl);
  font-weight: var(--nextui-fontWeights-semibold);
  font-family: var(--nextui-fonts-sans);
}

button.react-calendar__tile.react-calendar__century-view__decades__decade {
  background: transparent;
  border: 0;
  padding-block: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}